# Systemd service file for Cathy
# Copy it to /etc/misc/system/cathy.service
# Control it with: systemctl start|stop|status cathy

[Unit]
Description=Chatty Cathy
After=network.target

[Service]
Type=simple
User=cathy
WorkingDirectory=/opt/cathy
ExecStart=/opt/cathy/venv/bin/python -m cathy
Restart=always

[Install]
WantedBy=multi-user.target
